.intro-div {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    height: 600px;
    width: 950px;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .intro-div {
        display: inline;
        width: 100%;
        height: 0;
        width: 0;
        margin: 0;
    }
}

.intro-div img {
    height: 550px;
}

@media only screen and (max-width: 600px) {
    .intro-div img {
        width: 100vw;
        height: 100%;
    }
}

.col1 {
    padding: 50px 0;
    padding-right: 30px;
    width: 370px;
}

@media only screen and (max-width: 600px) {
    .col1 {
        padding: 0;
        width: 90%;
    }

    .col1 h1 {
        font-size: 26px;
        padding-left: 20px;
    }

    .col1 p {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .col1 h1 {
        font-size: 26px;
        padding-left: 20px;
    }
}

.col1 ul li {
    padding: 10px 0;
}

.btn-div {
    text-align: center;
}

.btn-div button {
    width: 370px;
    padding: 8px;
    background-color: rgb(238, 139, 103);
    color: white;
    font-size: 14px;
    border-color: rgb(238, 139, 103);
}
